{
    "token": "",
    "basic_config": {
        "prefix": "!",
        "max_uses": 3,
        "wait_seconds": 180,
        "b_seconds": 900
    },
    "messages": {
        "pm": "```‎            〚₮ᴋ₮〛𝐓𝐡𝐞 𝐊𝐧𝐢𝐠𝐡𝐭𝐬 𝐓𝐞𝐦𝐩𝐥𝐚𝐫〚₮ᴋ₮〛\n‎                          𝗬𝗢𝗨 𝗛𝗔𝗩𝗘 𝗕𝗘𝗘𝗡 𝗥𝗔𝗜𝗗𝗘𝗗\n‎                                       〘💎〙\n                        • ʀᴀɪᴅᴇᴅ ʙʏ ᴛᴋᴛ\n                        • ᴊᴏɪɴ ᴜꜱ ꜰᴏʀ ᴅᴀɪʟʏ ɴᴜᴋᴇꜱ + ʀᴀɪᴅꜱ\n                        • ᴅᴀɪʟʏ ɴᴜᴋᴇꜱ\n                        • ᴊᴏɪɴ ᴛʜᴇ ᴋɴɪɢʜᴛꜱ ᴛᴇᴍᴘʟᴀʀ ᴀɴᴅ ᴄᴏɴQᴜᴇʀ\n                        • ꜱᴇʀᴠᴇʀ ᴛᴀɢ\n‎                                       〘💎〙\n```\n||@everyone||\nhttps://discord.gg/S9Kv9pp8pp",
        "pingpm": ""
    },
    "interface": {
        "scaling_percent": 200,
        "preview_scaling_percent": 100
    }
}
